@inherits LayoutComponentBase

@* ReSharper disable Html.PathError *@

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="px-4 top-row">
        <a href="./aboutme" target="_blank" class="ml-md-auto">About me</a>
    </div>

    <div class="content px-4" style="overflow-y: scroll;height: calc(100% - 3.5rem);">
        @Body
    </div>
    
</div>